.Footer {
  margin-top: 200px;
  height: 100%;
  background: #43456e;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.Footer_detail img {
  height: 100%;
}

h1 {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (min-width: 720px) {
  .Footer_detail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Footer h1 {
    padding-right: 10px;
    font-size: 18px;
  }
}
